
body {
    margin:0;
    background:#462E7B;

}

.container {
  display: grid;
  height: 1400px;
  grid-template-columns: 1fr 0.2fr 2.8fr 0.5fr;
  grid-template-rows: .7fr 0.2fr 14fr 0.6fr;
}

.postcontainer {
	display:grid;
	height:100%;
	grid-template-columns: 1fr;
	grid-template-rows: .8fr repeat(16, 1fr);
}
.topiccontainer {
	display:grid;
	height:100%;
	grid-template-columns: 1fr;
	grid-template-rows: .8fr repeat(16, 1fr);
}



.item {
  background:#5C2474;
  color:black;
  font-size: 30px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  margin:0;
}


  .topnav {
  	background:#50338E;
	grid-column:1 / -1;
  }

  #login {
  	font-family: century gothic;
  	float:right;
  	color: white;
  	font-weight: 700;
  	height:40px;
  	width: 90px;
  	margin-top: 10px;
  	margin-right:10px;
  	border-radius: 5px;
  	color: white;
    cursor:pointer;
    padding: 0;
    border: none;
  	background: linear-gradient(to right, rgba(209,163,255,1) 0%, rgba(123,15,255,1) 0%, rgba(213,173,255,1) 100%);
  }
 #signup {
 	font-family: century gothic;
 	float:right;
  	color: white;
  	font-weight: 700;
  	height:40px;
  	width: 90px;
  	margin-top: 10px;
  	margin-right:10px;
  	border-radius: 5px;
  	color: white;
    cursor:pointer;
    padding: 0;
    border: none;
  	background: linear-gradient(to right, rgba(209,163,255,1) 0%, rgba(123,15,255,1) 0%, rgba(213,173,255,1) 100%);
  }


   .item2 {
  	background:#462E7B;
	grid-column:1 / -1;
  }
    .item3 {
    margin-left: 50px;
  	background:#462E7B;
  }

    .item3A {
    font-family: century gothic;
  	background:#50338E;
  	color: white;
  	font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center ;
  	border: 1px solid #50338E;
  } 

	.item3B, .item3C, .item3D, .item3E, .item3F, .item3G, .item3H, .item3I, .item3J{
	font-family: century gothic;
  	background:#462E7B;
  	color: white;
  	font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
  } 

  .item3B:hover, .item3C:hover, .item3D:hover, .item3E:hover, .item3F:hover, .item3G:hover, .item3H:hover, .item3I:hover, .item3J:hover{
    background:#50338E;
  }

  .item4 {
  	background:#462E7B;
  }
  .item5 {
  	background:#462E7A;
  	border: 1px solid #50338E;
    position: relative;
  	}

     .item5B {
    position: relative;
    }

#post {
	font-family: century gothic;
  	color: white;
  	font-weight: 700;
  	height:45px;
  	width: 90px;
  	float:right;
  	margin-top: 6px;
  	margin-right: 6px;
  	border-radius: 5px;
  	color: white;
    cursor:pointer;
    padding: 0;
    border: none;
  	background: linear-gradient(to right, rgba(209,163,255,1) 0%, rgba(123,15,255,1) 0%, rgba(213,173,255,1) 100%);
  }
  #newest, #top {
    color:#f5d6eb;
    font-family:century gothic;
    font-size: 20px;
    float:left;
    align-items: center;
    margin-left:15px;
    cursor:pointer;
    border:1px solid transparent;
  }

  #top:hover, #newest:hover{
    border-bottom: 1px solid white;
  }

  .item5A {
  	border-top:1px solid #50338E;
    background:#462E7A;
 	border: 1px solid #50338E;
  }

  #upsymbol{
    color:#f5d6eb;
    font-size: 25px;
    display:inline-block;
    position:absolute;
    left:14px;
    margin-top: 29px;
    margin-left: 10px;

  }
    #upvote{
    color:#f5d6eb;
    font-size:17px;
    display:inline-block;
    position:absolute;
    left:15px;
    margin-top: 48px;
    margin-left: 10px;
  }
  .upvotes:hover #upvote, .upvotes:hover #upsymbol{
    color:rgba(255,93,177,1);
    cursor: pointer;
  }

  .posttitle {
    font-family: century gothic;
    font-size: 22px;
    color:white;
    margin-bottom: 0px;
    margin-left:60px;
    text-align: left;
  }

  .divider{
    font-size: 15px;
    color:#f5d6eb;
    display:inline-block;
    float:left;
    margin-left:5px;
  }
  .username{
    font-size: 15px;
    color:#f5d6eb;
    display:inline-block;
    float:left;
    margin-left:61px;
  }
.timeposted{
    font-size: 15px;
    color:#f5d6eb;
    display:inline-block;
    float:left;
    margin-left:7px;
  }

  .comments{
    font-size: 15px;
    color:#f5d6eb;
    display:inline-block;
    float:left;
    margin-left:7px;
  }

   .item6 {
  	background:#462E7B;
  }

  .item7 {
  	background:#462E7B;
  	border-top: 1px solid #50338E;
  	grid-column: 1 / -1;
  }

  #signup:hover, #login:hover, #post:hover{
    background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(243,71,159,1) 24%, rgba(204,0,102,1) 100%);
  }

  .bg-modal {
    width:100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    justify-content: center;
    align-itmes:center;
    border-radius: 4px;
    display: none;
  }

  .modal-content {
    width:250px;
    height: 150px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 100px
  } 

  input {
    width:50%;
    display: block;
    margin: auto;
  }

  #nameinput{
    margin-top: 50px;
  }

  .signup-modal {
    width:100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    justify-content: center;
    align-itmes:center;
    border-radius: 4px;
    display: none;
  }

  .signup-content {
    width:250px;
    height: 150px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 100px
  } 

 #username{
    margin-top: 25px;
  }
  input {
    width:50%;
    display: block;
    margin: auto;
  }

  #nameinput{
    margin-top: 45px;
  }

  .post-modal {
    width:100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    justify-content: center;
    align-itmes:center;
    border-radius: 4px;
    display: none;
  }

  .post-content {
    width:250px;
    height: 150px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 100px
  } 

   #title{
    width: 200px;
    margin-top: 10px;
  }

    #createpost{
    margin-top: 1px;
    height: 100px;
    width: 200px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .close:hover {
    opacity: .5;
  }

.close2 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .close2:hover {
    opacity: .5;
  }

  .close3 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .close3:hover {
    opacity: .5;
  }

  .button {
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}
  .button:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
  }
